.footer {
    padding: toRem(50) toRem(0);
    background-color: #111111;
    color: #fff;
    text-align: center;
    font-weight: 700;
    &__text {
        margin-top: toRem(20);
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: toRem(90);
    }
    &__list {
        display: flex;
        gap: toRem(40);
        width: toRem(420);
        &:last-child {
            justify-content: flex-end;
        }
    }
}
